/* Estilo Geral */
* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

/* Estilo para o botão do dropdown */
.paste-button {
    position: relative;
    display: block;
    font-family: Helvetica;
}

.button {
    background-color: #283D27;
    color: white;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    padding: 5px;
}

.dropdown-content {
    display: none;
    font-size: 13px;
    position: absolute;
    z-index: 1;
    min-width: 200px;
    background-color: #212121;
    border: 2px solid #ffffff;
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
}

.dropdown-content a {
    color: #ffffff;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.1s;
}

.dropdown-content a:hover {
    background-color: #000000;
    color: #ffffff;
}

.dropdown-content a:focus {
    background-color: #212121;
    color: #ffffff;
}

.dropdown-content #top:hover {
    border-radius: 0px 13px 0px 0px;
}

.dropdown-content #bottom:hover {
    border-radius: 0px 0px 13px 13px;
}

.paste-button:hover button {
    border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content {
    display: block;
}

/* Estilos de navegação */
.nav-link {
    font-family: Helvetica;
    color: white;
}

.container-fluid {
    background-color: #283D27;
    height: 100px;
}

.nav-link_active {
    background-color: #ffffff;
    color: #ffffff;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 25px;
    cursor: pointer;
}

/* Estilo do Cabeçalho */
header {
    padding: 40px 4%; 
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    color: white; /* Alterado para branco */
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .brk-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #283D27;
    color: #5c5c5c;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}

header .brk-contato button:hover {
    box-shadow: 0px 0px 8px #386e36;
    color: #fff;
}

/* Custom button style */
.custom-button {
    display: flex;
    flex-direction: column;
    background-color: #283D27;
    padding: 8%;
    border-radius: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255); 
    margin-top: 30%;
    margin-left: 25%;
    width: fit-content;
}

.custom-button:hover {
    text-decoration: none;
}

.custom-button:visited {
    text-decoration: none;
    color: white;
}

/* Texto de boas-vindas */
.welcome-text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #fff;
}

/* Estilo para os textos de trabalhos */
.meus-trabalhos {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 20vh;
    color: #fff;
    font-size: 6vh;
}

/* Estilo para os textos dos cards de trabalho */
.txtCro {
    width: 70%;
    justify-content: center;
    color: white;
    text-align: left;
    margin-top: 15px;
    margin-left: 1%;
    font-size: 1rem;
}

.txtNatureza {
    justify-content: center;
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 1rem;
}

/* Navbar secundária */
.secondary-navbar {
    background-color: #000000ab;
    padding: 10px 0;
}

.secondary-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.secondary-navbar li {
    display: inline;
    margin: 0 10px;
}

.secondary-navbar a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 16px;
}

.secondary-navbar a:hover,
.secondary-navbar a.active {
    background-color: #283D27;
    border-radius: 4px;
    font-weight: bold;
    color: #ffffff;
}

/* Estilo das imagens de trabalho (exibição responsiva) */
img.croacia-img {
    width: 300px;
    height: auto;
    display: block;
}

.croacia-img{
    border: 0.2svi solid white;
    border-color: white;
    border-radius: 1vh;
}

.card-atividade{
    width: 60%;
    margin: auto;
    display: flex;
    margin-top: 50px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    header > .interface {
        flex-direction: column;
        text-align: center;
    }

    header nav ul {
        text-align: center;
    }

    header nav ul li {
        display: block;
        padding: 10px 0;
    }

    .custom-button {
        margin-top: 15%;
        margin-left: 10%;
        width: 80%;
    }

    .meus-trabalhos {
        font-size: 4vh;
    }

    .txtCro, .txtNatureza {
        font-size: 1rem;
    }
}
.logo {
    margin-top: -5vh;
}